*.ps1      linguist-detectable
*.xml      linguist-detectable
*.json     linguist-detectable
*.jsonc    linguist-detectable
*.jsonl    linguist-detectable

tsconfig.json -linguist-detectable
package.json -linguist-detectable
package-lock.json -linguist-detectable
.package-lock.json -linguist-detectable
manifest.json -linguist-detectable

*.js       linguist-generated
*.js.map   linguist-generated
*.d.ts     linguist-generated
